body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  background-color: #222;
}

canvas {
  touch-action: none;
}

.play-button {
  height: 50px;
  width: 200px;
  padding: 10px 20px;
  font-size: 24px;
  background-color: #9932cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
.play-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
